Repository tarantool/ansible-cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prebuild-test, prebuild-unit

prebuild-test:
  tags:
  - shell
  stage: prebuild
  variables:
    DOCKER_BUILDKIT: 1
    IMAGE: $CI_REGISTRY_IMAGE
    DOCKERFILE: Dockerfile
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull $IMAGE || true
  ...

prebuild-unit:
  tags:
  - shell
  stage: prebuild
  variables:
    DOCKER_BUILDKIT: 1
    IMAGE: $CI_REGISTRY_IMAGE:unit
    DOCKERFILE: Dockerfile.unit
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull $IMAGE || true
  ...

Remove redundant line
  tasks/install_deb.yml
Due: none

Allow to downgrade package (#86)
  CHANGELOG.md
  README.md
  defaults/main.yml
  library/cartridge_validate_config.py
  tasks/install_deb.yml
  tasks/install_rpm.yml
  unit/test_validate_config.py
Due: none

Release 1.2.0
  CHANGELOG.md
  README.md
  examples/getting-started-app/README.md
Due: none

Release 1.2.0 (#87)
  CHANGELOG.md
  README.md
  examples/getting-started-app/README.md
Due: none

Revert "Allow to downgrade package (#86)"
  CHANGELOG.md
  README.md
  defaults/main.yml
  library/cartridge_validate_config.py
  tasks/install_deb.yml
  tasks/install_rpm.yml
  unit/test_validate_config.py
Due: none

Describe package downgrading in README
  README.md
Due: none

Revert package downgrading (#88)
  CHANGELOG.md
  README.md
  defaults/main.yml
  library/cartridge_validate_config.py
  tasks/install_deb.yml
  tasks/install_rpm.yml
  unit/test_validate_config.py
Due: none

Refactor common params validation and tests
  library/cartridge_validate_config.py
  unit/test_validate_config.py
Due: none

Refactor replicasets validation
  library/cartridge_validate_config.py
  unit/test_validate_config.py
Due: none

Refactor types validation
  library/cartridge_validate_config.py
  unit/test_validate_config.py
Due: none

Add missed role variable to readme
  README.md
Due: none

Restructure
  library/cartridge_validate_config.py
Due: none

Get rid of multireturn
  library/cartridge_validate_config.py
Due: none

Remove cartridge_allow_downgrade
  library/cartridge_validate_config.py
  unit/test_validate_config.py
Due: none

Refactor config validation (#89)
  README.md
  library/cartridge_validate_config.py
  unit/test_validate_config.py
Due: none

Fix molecule version
  Dockerfile
Due: prebuild-test

Fix molecule version (#91)
  Dockerfile
Due: prebuild-test

Use cartridge-cli 1.6.0 to create test packages
  .gitlab-ci.yml
  Dockerfile.enterprise
  Dockerfile.opensource
  create-packages.sh
Due: prebuild-test, prebuild-unit

Add packages stage to Gitlab CI
  .gitlab-ci.yml
  .yamllint
  Dockerfile.packages
  create-packages.sh
Due: prebuild-test, prebuild-unit

Mask SDK download user
  .gitlab-ci.yml
Due: prebuild-test, prebuild-unit

Use the latest cartridge-cli (#92)
  .gitlab-ci.yml
  .yamllint
  Dockerfile.enterprise
  Dockerfile.opensource
  Dockerfile.packages
  create-packages.sh
Due: prebuild-test, prebuild-unit

Mark all package tasks as `any_errors_fatal`
  tasks/enable_tarantool_repo.yml
  tasks/install_deb.yml
  tasks/install_rpm.yml
Due: none

Add any_errors_fatal: true to exapmles
  README.md
  examples/getting-started-app/README.md
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Fail for all instances if package installation task fails (#93)
  CHANGELOG.md
  README.md
  examples/getting-started-app/README.md
  tasks/enable_tarantool_repo.yml
  tasks/install_deb.yml
  tasks/install_rpm.yml
Due: none

Change README
  README.md
Due: none

Make `failover_priority` parameter optional
  library/cartridge_validate_config.py
  molecule/default/hosts.yml
  molecule/default/tests/test_cartridge.py
  unit/test_validate_config.py
Due: none

Make failover_priority optional (#94)
  CHANGELOG.md
  README.md
  library/cartridge_validate_config.py
  molecule/default/hosts.yml
  molecule/default/tests/test_cartridge.py
  unit/test_validate_config.py
Due: none

Add `cartridge_failover_params` variable
  library/cartridge_validate_config.py
  unit/test_validate_config.py
Due: none

Support new failover params
  library/cartridge_manage_failover.py
  library/cartridge_validate_config.py
  module_utils/helpers.py
  tasks/main.yml
  unit/test_manage_failover.py
Due: none

Update Cartridge CLI version
  .gitlab-ci.yml
Due: prebuild-test, prebuild-unit

Use new failover params in molecule tests
  molecule/default/hosts.yml
  molecule/default/tests/test_cartridge.py
Due: none

Test managing failover using deprecated vars
  unit/instance.py
  unit/mock/cartridge.lua
  unit/test_manage_failover.py
  unit/test_manage_failover_deprecated.py
Due: none

Update SDK
  .gitlab-ci.yml
Due: prebuild-test, prebuild-unit

Refactor stateful failover params
  library/cartridge_manage_failover.py
  library/cartridge_validate_config.py
  molecule/default/hosts.yml
  molecule/default/tests/test_cartridge.py
  unit/test_validate_config.py
Due: none

Test new failover params
  library/cartridge_manage_failover.py
  unit/test_manage_failover.py
Due: none

Update the doc
  README.md
  examples/getting-started-app/README.md
Due: none

Fix typo
  library/cartridge_manage_failover.py
Due: none

Path conditions:
  prebuild-test: any of: Dockerfile, .gitlab-ci.yml
  prebuild-unit: any of: Dockerfile.unit, .gitlab-ci.yml, unit/requirements.txt
