Repository tarantool/ansible-cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prebuild-test, prebuild-packages, prebuild-unit

prebuild-test:
  tags:
  - dind
  services:
  - name: docker:dind
    alias: localhost
    command:
    - --mtu=1300
  image: docker:git
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    DOCKER_BUILDKIT: 1
    IMAGE: $CI_REGISTRY_IMAGE
    DOCKERFILE: Dockerfile
  stage: prebuild
  before_script:
  ...

prebuild-packages:
  tags:
  - dind
  services:
  - name: docker:dind
    alias: localhost
    command:
    - --mtu=1300
  image: docker:git
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    DOCKER_BUILDKIT: 1
    IMAGE: $CI_REGISTRY_IMAGE:packages
    DOCKERFILE: Dockerfile.packages
  stage: prebuild
  before_script:
  ...

prebuild-unit:
  tags:
  - dind
  services:
  - name: docker:dind
    alias: localhost
    command:
    - --mtu=1300
  image: docker:git
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    DOCKER_BUILDKIT: 1
    IMAGE: $CI_REGISTRY_IMAGE:unit
    DOCKERFILE: Dockerfile.unit
  stage: prebuild
  before_script:
  ...

Setting stateful failover parameters (#96)
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  examples/getting-started-app/README.md
  library/cartridge_manage_failover.py
  library/cartridge_validate_config.py
  module_utils/helpers.py
  molecule/default/hosts.yml
  molecule/default/tests/test_cartridge.py
  tasks/main.yml
  unit/instance.py
  unit/mock/cartridge.lua
  unit/test_manage_failover_deprecated.py
  unit/test_validate_config.py
Due: prebuild-test, prebuild-packages, prebuild-unit

Fix message texts
  library/cartridge_auth.py
  library/cartridge_bootstrap_vshard.py
  library/cartridge_manage_replicaset.py
  library/cartridge_validate_config.py
  module_utils/helpers.py
  unit/instance.py
  unit/test_auth.py
  unit/test_bootstrap_vshard.py
  unit/test_check_instance_started.py
  unit/test_manage_replicaset.py
  unit/test_validate_config.py
Due: none

Fix lint
  module_utils/helpers.py
  unit/instance.py
  unit/test_validate_config.py
Due: none

Fix message texts (#98)
  library/cartridge_auth.py
  library/cartridge_bootstrap_vshard.py
  library/cartridge_manage_replicaset.py
  library/cartridge_validate_config.py
  module_utils/helpers.py
  unit/instance.py
  unit/test_auth.py
  unit/test_bootstrap_vshard.py
  unit/test_check_instance_started.py
  unit/test_manage_replicaset.py
  unit/test_validate_config.py
Due: none

Fix review notes
  examples/getting-started-app/README.md
Due: none

Remove comment
  library/cartridge_needs_restart.py
Due: none

Update README
  README.md
Due: none

Start stateboard instance
  defaults/main.yml
  filter_plugins/filter_hosts.py
  handlers/main.yml
  library/cartridge_check_instance_started.py
  library/cartridge_get_replicasets.py
  library/cartridge_instance.py
  library/cartridge_needs_restart.py
  library/cartridge_probe_instance.py
  library/cartridge_validate_config.py
  module_utils/helpers.py
  molecule/default/hosts.yml
  molecule/default/tests/test_cartridge.py
  tasks/main.yml
  tasks/start_instance.yml
  unit/instance.py
  unit/mock/cartridge.lua
  unit/test_check_instance_started.py
  unit/test_needs_restart.py
Due: none

Use filters for all specific paths
  filter_plugins/filter_hosts.py
  tasks/expel_instance.yml
  tasks/main.yml
  tasks/manage_replicaset.yml
  tasks/start_instance.yml
Due: none

Rename sock to control_sock
  library/cartridge_control_instance.py
  tasks/main.yml
  unit/test_control_instance.py
Due: none

Update the doc
  README.md
Due: none

Refactor using hosts filters
  filter_plugins/filter_hosts.py
  handlers/main.yml
  tasks/expel_instance.yml
  tasks/main.yml
  tasks/manage_replicaset.yml
  tasks/start_instance.yml
Due: none

Apply suggestions from code review
  README.md
Due: none

Fix config tasks
  tasks/main.yml
Due: none

Fix READMEs
  README.md
  examples/getting-started-app/README.md
Due: none

Release 1.3.0
  CHANGELOG.md
  README.md
  examples/getting-started-app/README.md
Due: none

Release 1.3.0 (#99)
  CHANGELOG.md
  README.md
  examples/getting-started-app/README.md
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Update CHANGELOG (#100)
  CHANGELOG.md
Due: none

Remove log_level from example
  README.md
  examples/getting-started-app/README.md
  examples/getting-started-app/hosts.updated.yml
  examples/getting-started-app/hosts.yml
  molecule/default/hosts.yml
Due: none

Add `some_option` to README
  README.md
  examples/getting-started-app/README.md
  examples/getting-started-app/hosts.updated.yml
  examples/getting-started-app/hosts.yml
  molecule/default/hosts.yml
Due: none

Change in README
  README.md
Due: none

Use flake8==3.8.1
  Dockerfile
  unit/requirements.txt
Due: prebuild-test, prebuild-unit

Fix lint
  module_utils/helpers.py
  unit/instance.py
Due: none

Remove log_level from example (#103)
  Dockerfile
  README.md
  examples/getting-started-app/README.md
  examples/getting-started-app/hosts.updated.yml
  examples/getting-started-app/hosts.yml
  module_utils/helpers.py
  molecule/default/hosts.yml
  unit/instance.py
  unit/requirements.txt
Due: prebuild-test, prebuild-unit

Use new update repo script
  tasks/enable_tarantool_repo.yml
  tasks/install_deb.yml
  tasks/install_rpm.yml
Due: none

Refactor enterprise jobs
  .gitlab-ci.yml
Due: prebuild-test, prebuild-packages, prebuild-unit

Use newesr script in CI
  .gitlab-ci.yml
Due: prebuild-test, prebuild-packages, prebuild-unit

Create packges quiet
  create-packages.sh
Due: none

Use 2.3 instead of 2.2
  .gitlab-ci.yml
Due: prebuild-test, prebuild-packages, prebuild-unit

Add openstack flag
  .gitlab-ci.yml
Due: prebuild-test, prebuild-packages, prebuild-unit

Use virtualenv
  Dockerfile
Due: prebuild-test

Use ubuntu:18.04
  molecule/default/molecule.yml
Due: none

Set MTU to 1300
  .gitlab-ci.yml
Due: prebuild-test, prebuild-packages, prebuild-unit

Change installer script url
  tasks/enable_tarantool_repo.yml
Due: none

Use newest enable repo script (#106)
  .gitlab-ci.yml
  Dockerfile
  create-packages.sh
  molecule/default/molecule.yml
  tasks/enable_tarantool_repo.yml
  tasks/install_deb.yml
  tasks/install_rpm.yml
Due: prebuild-test, prebuild-packages, prebuild-unit

Path conditions:
  prebuild-test: any of: Dockerfile, .gitlab-ci.yml
  prebuild-packages: any of: Dockerfile.packages, .gitlab-ci.yml
  prebuild-unit: any of: Dockerfile.unit, .gitlab-ci.yml, unit/requirements.txt
