Repository tarantool/ansible-cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prebuild-test, prebuild-unit

.gitlab-ci.yml:

---
variables:
  BUNDLE_VERSION: 1.10.3-93-g580699f

stages:
  - prebuild
  - unit
  - test

.dind:
  tags:
    - molecule-dind
  services:
    - name: docker:dind
      alias: localhost
  image: docker:git
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    DOCKER_BUILDKIT: 1

.prebuild:
  tags:
    - shell
  stage: prebuild
  variables:
    DOCKER_BUILDKIT: 1
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker pull $IMAGE || true

    - docker build
      --cache-from $IMAGE
      --tag $IMAGE
      --file $DOCKERFILE
      .
    - docker push $IMAGE
  after_script:
    - docker logout registry.gitlab.com

prebuild-test:
  extends: .prebuild
  only:
    changes:
      - Dockerfile
      - .gitlab-ci.yml
  variables:
    IMAGE: $CI_REGISTRY_IMAGE
    DOCKERFILE: Dockerfile

prebuild-unit:
  extends: .prebuild
  only:
    changes:
      - Dockerfile.unit
      - .gitlab-ci.yml
  variables:
    IMAGE: $CI_REGISTRY_IMAGE:unit
    DOCKERFILE: Dockerfile.unit


unit:
  stage: unit
  tags:
    - docker
  image: $CI_REGISTRY_IMAGE:unit
  before_script:
    - tarantool --version
    - python3.6 --version
  script:
    - python3.6 -m unittest discover unit


.test:
  extends: .dind
  stage: test
  image: $CI_REGISTRY_IMAGE

  variables:
    CARTRIDGE_CLI_VERSION: 1.3.2

  before_script:
    - docker info
    - python3 --version
    - ansible --version
    - molecule --version

  cache:
    key: ${CI_COMMIT_REF_NAME}:${TARANTOOL_VERSION}:${CARTRIDGE_CLI_VERSION}
    paths:
      - packages

  script:
    - ./create-packages.sh
    - cd .. && (rm -rf tarantool-cartridge || true)
    - cp -R ansible-cartridge tarantool-cartridge && cd tarantool-cartridge

    - molecule test

test-enterprise:
  extends: .test
  variables:
    TARANTOOL_VERSION: enterprise

test-opensource-1.10:
  extends: .test
  variables:
    TARANTOOL_VERSION: opensource-1.10

test-opensource-2.2:
  extends: .test
  variables:
    TARANTOOL_VERSION: opensource-2.2

Use new Gitlab runners
  .gitlab-ci.yml
Due: prebuild-test, prebuild-unit

Use new runners (#84)
  .gitlab-ci.yml
Due: prebuild-test, prebuild-unit

Test needs_restart
  library/cartridge_needs_restart.py
  unit/instance.py
  unit/mock/cartridge.lua
  unit/mock/fio-patch.lua
  unit/mock/init.lua
  unit/os_mock.py
  unit/test_needs_restart.py
Due: none

Refactor config valudation
  library/cartridge_validate_config.py
  unit/test_validate_config.py
Due: none

Test control_instance
  unit/instance.py
  unit/mock/init.lua
  unit/mock/membership.lua
  unit/test_control_instance.py
Due: none

Test get_replicasets
  library/cartridge_get_replicasets.py
  unit/test_get_replicasets.py
Due: none

Improve linter
  .yamllint
  Dockerfile
  linter.sh
  molecule/default/molecule.yml
Due: prebuild-test

Fix control_instance
  library/cartridge_instance.py
Due: none

Add unit tests to Gitlab CI
  .gitlab-ci.yml
  unit.sh
Due: prebuild-test, prebuild-unit

Mock cartridge instance
  module_utils/helpers.py
  unit/instance.py
  unit/mock/cartridge.lua
  unit/mock/init.lua
  unit/mock/membership.lua
  unit/test_check_instance_started.py
Due: none

Install flake8 on the test image
  .gitlab-ci.yml
  Dockerfile
Due: prebuild-test, prebuild-unit

Fix flake8 linter
  .flake8
  linter.sh
Due: none

Test probe server
  library/cartridge_probe_instance.py
  tasks/main.yml
  unit/instance.py
  unit/mock/cartridge.lua
  unit/mock/init.lua
  unit/test_probe_instance.py
Due: none

Install pytest
  Dockerfile
  molecule/default/converge.yml
Due: prebuild-test

Unit tests for config validation
  library/cartridge_validate_config.py
  molecule/default/tests/test_cartridge.py
  unit/test_validate_config.py
Due: none

Run unt tests on Gitlab CI
  .gitlab-ci.yml
  Dockerfile.unit
  tmp/.keep
  unit.sh
  unit/instance.py
  unit/requirements.txt
Due: prebuild-test, prebuild-unit

Test memtx_memory managing
  library/cartridge_instance.py
  unit/instance.py
  unit/mock/cartridge.lua
  unit/test_manage_instance.py
Due: none

Edit topology tests
  library/cartridge_manage_replicaset.py
  module_utils/helpers.py
  unit/instance.py
  unit/mock/cartridge.lua
  unit/test_manage_replicaset.py
Due: none

Fix testinfra tests
  Dockerfile
  molecule/default/molecule.yml
Due: prebuild-test

Add except block
  module_utils/helpers.py
  unit/instance.py
Due: none

Use tenacity to wait for instance start
  unit/instance.py
Due: none

Run prebuild jobs on dind runner
  .gitlab-ci.yml
Due: prebuild-test, prebuild-unit

Test vshard bootstrapping
  unit/instance.py
  unit/mock/cartridge.lua
  unit/test_bootstrap_vshard.py
Due: none

Test instance expelling
  library/cartridge_expel_instance.py
  unit/helpers.py
  unit/instance.py
  unit/mock/cartridge.lua
  unit/test_expel.py
  unit/test_manage_replicaset.py
Due: none

Fix tests on Gitlab CI
  .gitlab-ci.yml
Due: prebuild-test, prebuild-unit

Test app_config
  library/cartridge_app_config.py
  unit/instance.py
  unit/mock/cartridge.lua
  unit/test_app_config.py
  unit/test_manage_replicaset.py
Due: none

Refactor tests
  unit/instance.py
  unit/mock/cartridge.lua
  unit/test_app_config.py
  unit/test_bootstrap_vshard.py
  unit/test_expel.py
  unit/test_manage_instance.py
  unit/test_manage_replicaset.py
Due: none

Test failover
  unit/mock/cartridge.lua
  unit/test_bootstrap_vshard.py
  unit/test_manage_failover.py
Due: none

Test auth
  library/cartridge_auth.py
  unit/mock/cartridge.lua
  unit/test_auth.py
Due: none

Add message to success checks
  unit/test_check_instance_started.py
  unit/test_control_instance.py
  unit/test_get_replicasets.py
  unit/test_manage_instance.py
  unit/test_needs_restart.py
  unit/test_probe_instance.py
  unit/test_validate_config.py
Due: none

Linter
  .gitlab-ci.yml
  molecule/default/molecule.yml
  unit/requirements.txt
Due: prebuild-test, prebuild-unit

Simplify tests
  library/cartridge_check_instance_started.py
  library/cartridge_control_instance.py
  module_utils/helpers.py
  unit/helpers.py
  unit/instance.py
  unit/mock/cartridge.lua
  unit/mock/membership.lua
  unit/test_check_instance_started.py
  unit/test_control_instance.py
  unit/test_manage_instance.py
  unit/test_needs_restart.py
  unit/test_probe_instance.py
Due: none

Test replicaset becomes unhealthy
  library/cartridge_manage_replicaset.py
  unit/mock/cartridge.lua
  unit/test_manage_replicaset.py
Due: none

Improve bootstrap_vshard tests
  unit/mock/cartridge.lua
  unit/test_bootstrap_vshard.py
Due: none

Replcase json.NULL with box.NULL
  library/cartridge_app_config.py
  library/cartridge_auth.py
  library/cartridge_bootstrap_vshard.py
  library/cartridge_expel_instance.py
  library/cartridge_instance.py
  library/cartridge_manage_failover.py
  library/cartridge_manage_replicaset.py
  library/cartridge_needs_restart.py
  library/cartridge_probe_instance.py
  module_utils/helpers.py
  unit/instance.py
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Add cartridge_allow_downgrade parameter
  README.md
  defaults/main.yml
  tasks/install_deb.yml
  tasks/install_rpm.yml
Due: none

Validate new parameter
  library/cartridge_validate_config.py
  unit/test_validate_config.py
Due: none

Update CHANGELOG
  CHANGELOG.md
  README.md
Due: none
